<div class="product-item">
    <div class="product-image">
        <a href="/detail/{{id}}">
            {{#with Medium}}
            <img src="{{imagePath}}" alt="{{../word}}">
            {{/with}}
        </a>
        <div class="product-action">
            <a href="/detail/{{id}}"><i class="fa fa-search"></i></a>
            <a href="/update/{{id}}"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn-delete" data-id="{{id}}">
                <i class="fa fa-remove text-danger"></i>
            </a>
        </div>
    </div>
    <div class="product-content">
        <div class="title"><a href="/detail/{{id}}">{{word}}</a>

            {{#with Medium}}
            <button onclick="playAudio('audio-{{id}}')">🔊</button>
            <audio id="audio-{{id}}" src="{{audioPath}}"></audio>
            {{/with}}
        </div>
        <p>/{{pronunciation}}/</p>
        <p>({{type}})</p>
        <p>{{definition}}</p>
        <div class="stars">
            {{{renderStars difficulty}}}
        </div>
        <span class="text-white badge {{#if isLearned}}bg-success{{else}}bg-danger{{/if}}">
            {{#if isLearned}}Đã học{{else}}Chưa học{{/if}}
        </span>
    </div>
</div>