<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Thao tác</a></li>
            <li class="breadcrumb-item" active><a href="#">Tạo mới từ vựng</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<form action="/vocabulary/create" method="post">
    <div class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="vocabulary-form">
                        <h2>Thông tin từ vựng mới</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Từ vựng:</label>
                                <input class="form-control" type="text" placeholder="Nhập từ vựng..." name="word"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label>Phát âm:</label>
                                <input class="form-control" type="text" placeholder="Phát âm..." name="pronunciation"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label>Loại từ:</label>
                                <select class="custom-select" name="type">
                                    <option selected>Nouns</option>
                                    <option>Verbs</option>
                                    <option>Adjectives</option>
                                    <option>Adverbs</option>
                                    <option>Idiom</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Độ khó:</label>
                                <select class="custom-select" name="difficulty">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Đã học:</label>
                                <select class="custom-select" name="isLearned">
                                    <option selected>true</option>
                                    <option>false</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Nghĩa tiếng Anh-Việt:</label>

                                <textarea class="form-control" placeholder="Định nghĩa..." name="meaning_vi" required
                                    rows="6"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label>Định nghĩa Anh-Anh</label>
                                <textarea class="form-control" placeholder="Định nghĩa..." name="definition" required
                                    rows="6"></textarea>
                            </div>
                            <h2>Ví dụ minh họa cho từ vựng:</h2>
                            <div class="col-md-12">
                                <div id="examples-container">
                                    <div class="example-group">
                                        <textarea class="form-control mb-2" name="examples[]"
                                            placeholder="Nhập ví dụ minh họa..." rows="3"></textarea>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" onclick="addExample()">➕ Thêm ví
                                    dụ</button>
                            </div>
                            <h2>Hình ảnh và âm thanh</h2>
                            <div class="col-md-12">
                                <label>Đường dẫn hình ảnh:</label>
                                <input class="form-control" type="text" name="imagePath"
                                    placeholder="Nhập URL hình ảnh...">
                            </div>

                            <div class="col-md-12">
                                <label>Đường dẫn âm thanh:</label>
                                <input class="form-control" type="text" name="audioPath"
                                    placeholder="Nhập URL âm thanh...">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="checkout-payment">
                        <h2>Lĩnh vực của từ vựng</h2>
                        <div class="payment-methods">
                            {{#each categories}}
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="category-{{id}}"
                                        name="category" value="{{id}}">
                                    <label class="custom-control-label" for="category-{{id}}">{{name}}</label>
                                </div>
                                <div class="payment-content" id="category-{{id}}-show">
                                    <p>
                                        {{description}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="checkout-payment">
                        <h2>Loại chứng chỉ học thuật</h2>
                        <div class="payment-methods">
                            {{#each certificates}}
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="certificate-{{id}}"
                                        name="certificate" value="{{id}}">
                                    <label class="custom-control-label" for="certificate-{{id}}">{{name}}</label>
                                </div>
                                <div class="payment-content" id="certificate-{{id}}-show">
                                    <p>
                                        {{description}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg">Tạo mới từ vựng</button>
            </div>
        </div>

    </div>

</form>
<!-- Checkout End -->