<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Thao tác</a></li>
            <li class="breadcrumb-item" active><a href="#">Danh sách từ</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Product List Start -->
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="product-search">
                                    <form action="/products" method="GET">
                                        <input type="text" placeholder="Search" name="keyword" required>
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-short">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sắp sếp từ vựng
                                            {{sort}}</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{originalUrl}}&sort=hardest" class="dropdown-item">Độ khó</a>
                                            <a href="{{originalUrl}}&sort=newest" class="dropdown-item">Mới nhất</a>
                                            <a href="{{originalUrl}}&sort=oldest" class="dropdown-item">Cũ nhất</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each vocabularies}}
                    <div class="col-lg-4">
                        {{> vocabulary }}
                    </div>
                    {{/each}}
                </div>

                <div class="col-lg-12">
                    <nav aria-label="Page navigation example" id="pagination">
                        {{{createPagination pagination paginationClass = "pagination justify-content-center" leftText =
                        "Previous" rightText = "Next"}}}
                    </nav>
                </div>
            </div>

            {{> right-column }}
        </div>
    </div>
</div>
<!-- Product List End -->
<script>
    document.querySelectorAll('#pagination li').forEach((li, index) => {
        li.classList.add('page-item');
    });
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    });
</script>